<%= render 'shared/loginout' %>
<div class="col-sm-8">
<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Topics', topics_path %></li>
  <li><%= link_to @topic.title, @topic %></li>
  <li class="active"><%= link_to 'New post', new_topic_entry_path %></li>
</ul>
<br>
<br>

<%= form_for ([@topic, @new_entry]), html: {class: 'form-horizontal'} do |f| %>



<div class="field form-group">

<%=  f.collection_check_boxes :course_id, Course.all, :id, :title }

<%= f.hidden_field :topic_id, value: @new_entry.topic_id %>
<%= f.hidden_field :comment_num, value: 0 %>

<%= f.check_box   %>


<%= f.label :title, class: 'col-sm-2 control-label'  %>


<div class="col-sm-8">
<%= f.text_field :title, class: 'form-control'  %>
</div>
</div>
<div class="field form-group">
<div class="col-sm-8">
<%= f.hidden_field :user_id, value: session[:user_id] %>
</div>
</div>
<div class="field form-group">
<%= f.label :content, class: 'col-sm-2 control-label'  %>
 <div class="col-sm-8">
<%= f.text_area :content, class: 'form-control' %>
<br /><br />
<div class="actions form-group">
<div class="col-sm-10">
<%= f.submit 'Submit', class: 'btn btn-primary'  %>

</div>
</div>
<% end %>


<br>

<%= link_to 'Cancel', @topic, class: 'btn btn-danger'  %>
</div>
</div>
</div>  