
<%= render 'shared/loginout' %>

<div class="col-sm-8">
<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Topics', topics_path %></li>
  <li><%= link_to 'Entries', @entry.topic %></li>
  <li class="active"><%= link_to @entry.title, @self %></li>
  <li><%= link_to 'New post', new_topic_entry_path %></li>
</ul>
<br>
<br>

<h1> <%= @entry.title %> </h1>
<h4> <%= @entry.user.screen_name %></h4>
	
	<p><%= @entry.content %> </p>

<% @entry.comments.each do |comment| %>
	<p> by  <%= comment.user.screen_name %> </p>
	<p> <%= comment.content %> </p>
	<% if @user && @user.id == comment.user_id %>
	<%= link_to edit_topic_entry_comment_path(comment.entry.topic, comment.entry, comment), class: 'btn btn-success sm' do %>
	<i class="glyphicon glyphicon-pencil"></i> Edit comment
	<% end  %>
	<% end  %>
	<% if @user && (@user.id == comment.user_id || @user.id == @entry.user_id) %>
	<%= link_to 'Delete Comment', ([comment.entry.topic, comment.entry, comment]), method: :delete %>
	<% end %>
<% end %>
<div class="btn-group">
<%= link_to @entry.topic, class: 'btn btn-primary' do %>
 <i class="glyphicon glyphicon-menu-left"></i> Back
<% end  %>

<% if @user && @user.id == @entry.user_id %>
<%= link_to edit_topic_entry_path(@entry.topic,@entry), class: 'btn btn-success' do %>
 <i class="glyphicon glyphicon-pencil"></i> Edit
<% end  %>
<%= link_to 'Delete', ([@entry.topic, @entry]), method: :delete %>
</div>
<% end  %>

<% if @user %>
<%= form_for [@entry.topic, @entry, @new_comment] do |f| %>

	<%= f.hidden_field :entry_id, value: @entry.id %>

	<%= f.hidden_field :user_id, value: @user.id%>
	<%= f.label :content %>
	<%= f.text_area :content %>

	<%= f.submit 'Submit' %>
<% end %>
<% end %>