
<h1> <%= @entry.title %> </h1>
<h4> <%= @entry.user.screen_name %></h4>
	
	<p><%= @entry.content %> </p>

<% @entry.comments.each do |comment| %>
<p> by <%= comment.user.screen_name %> </p>
<p> <%= comment.content %> </p>
<% end %>

<div class="btn-group">
<%= link_to topic_path, class: 'btn btn-primary' do %>
 <i class="glyphicon glyphicon-menu-left"></i> Back
<% end  %>
<%= link_to edit_entry_path(@entry), class: 'btn btn-success' do %>
 <i class="glyphicon glyphicon-pencil"></i> Edit
<% end  %>
<%= link_to @entry, method: :delete, class: 'btn btn-danger' do %>
 <i class="glyphicon glyphicon-remove"></i> Delete
<% end  %>
</div>