
<h1> <%= @entry.title %> </h1>
<h4> <%= @entry.user.screen_name %></h4>
	
	<p><%= @entry.content %> </p>

<% @entry.comments.each do |comment| %>
	<p> by  <%=comment.user.screen_name %> </p>
	<p> <%= comment.content %> </p>
<% end %>

<div class="btn-group">
<%= link_to @entry.topic, class: 'btn btn-primary' do %>
 <i class="glyphicon glyphicon-menu-left"></i> Back
<% end  %>
<%= link_to edit_topic_entry_path(@entry.topic,@entry), class: 'btn btn-success' do %>
 <i class="glyphicon glyphicon-pencil"></i> Edit
<% end  %>
<%= link_to 'Delete', ([@entry.topic, @entry]), method: :delete %>
</div>

<%= form_for [@entry.topic, @entry, @new_comment] do |f| %>

	<%= f.hidden_field :entry_id, value: @entry.id %>

	<%= f.label :user_id %>
	<%= f.text_field :user_id %>
	<%= f.label :content %>
	<%= f.text_area :content %>

	<%= f.submit 'Submit' %>
<% end %>