<%= render 'shared/loginout' %>
<br>
<div class="col-xs-8">
<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Topics', topics_path %></li>
  <li class="active"><%= link_to @topic.title, @topic %></li>
  <li><%= link_to 'New post', new_topic_entry_path(@topic) %></li>
</ul>
<br>


<h2> <%= @topic.title %> </h2>
<h4> <%= @topic.description %></h4>


  <nav>
  <ul class="pagination">
    <li>
      <a href="?page=<%= @page -1 %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% (1.. @pages).each do |page| %>
	<li><a href="?page=<%= page %>"><%= page %></a></li>
	<% end  %>
	<li>
      <a href="?page=<%= @page +1 %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

    <% @entries.each do |entry| %>
	<% if entry %>
	
	<br>
	<h3>
	<a href="<%= topic_entry_path(@topic, entry) %>" data-tooltip="<%= entry.content[0..100] %>..."><%=entry.title%></a>
	</h3>
	<p class = "text-muted"> by: <%= entry.user.screen_name %> </p>
	<p class = "text-muted">comments: <%= entry.comment_num  %></p>
	<time class = "text-muted">Created at: <%= entry.created_at.localtime.strftime("%b %d, %Y - %l:%M %P") %></time><br>
	<time class = "text-muted">Last updated at: <%= entry.updated_at.localtime.strftime("%b %d, %Y - %l:%M %P") %></time>
	<br>
	<br>
	
	

	<br>
	<% end %>

<% end %>

<br>
<br>
</div>

    

    



