<%= render 'shared/loginout' %>
<br>
<div class="col-xs-8">
<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Topics', topics_path %></li>
  <li class="active"><%= link_to @topic.title, @topic %></li>
  <li><%= link_to 'New post', new_topic_entry_path(@topic) %></li>
</ul>
<br>


<h2> <%= @topic.title %> </h2>
<h4> <%= @topic.description %></h4>

<% entries = @topic.entries.order(:updated_at).reverse %>
<% entries.each do |entry| %>
	<br>
	<h3> <%= link_to entry.title, topic_entry_path(@topic, entry) %> </h3>
	<p> by: <%= entry.user.screen_name %> </p>
	<p>comments: <%= entry.comment_num  %></p>
	<time>Created at: <%= entry.created_at.localtime.strftime("%b %d, %Y - %l:%M %P") %></time><br>
	<time>Last updated at: <%= entry.updated_at.localtime.strftime("%b %d, %Y - %l:%M %P") %></time>
	<br>
	<br>
	
	<div><p> <%= entry.content %></div>

	<br>

<% end %>

<br>
<br>

