
<h1> <%= @topic.title %> </h1>
<h4> <%= @topic.description %></h4>

<% @topic.entries.each do |entry| %>
	
	<h3> <%= link_to entry.title, entry_path(entry) %> </h3>
	<br>
	<p> by <%= entry.user.screen_name %> </p>
	<br>

<% end %>

<%= link_to 'back', topics_path %>
<%= link_to 'Create', new_topic_entry_path(@topic) %>
