<%= render 'shared/loginout' %>
<br>
<div class="col-xs-8">
<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Topics', topics_path %></li>
  <li class="active"><%= link_to @topic.title, @topic %></li>
  <li><%= link_to 'New post', new_topic_entry_path(@topic) %></li>
</ul>
<br>


<h2> <%= @topic.title %> </h2>
<h4> <%= @topic.description %></h4>

<nav>
  <nav>
  <ul class="pagination">
    <li>
      <a href="?page=<%= @page -1 %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% (1.. @pages).each do |page| %>
	<li><a href="?page=<%= page %>"><%= page %></a></li>
	<% end  %>
	<li>
      <a href="?page=<%= @page +1 %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<a id="popoverData" class="btn" href="#" data-content="Popover with data-trigger" rel="popover" data-placement="bottom" data-original-title="Title" data-trigger="hover">Popover with data-trigger</a>
    <% @entries.each do |entry| %>
	<% if entry %>
	
	<br>
	<h3> </h3>
	<a id="popoverData" type = "btn" class="btn" href="#" data-content="test" rel="popover" data-placement="bottom" data-original-title="Title" data-trigger="hover"><%= link_to entry.title, topic_entry_path(@topic, entry) %> </a>
	<p> by: <%= entry.user.screen_name %> </p>
	<p>comments: <%= entry.comment_num  %></p>
	<time>Created at: <%= entry.created_at.localtime.strftime("%b %d, %Y - %l:%M %P") %></time><br>
	<time>Last updated at: <%= entry.updated_at.localtime.strftime("%b %d, %Y - %l:%M %P") %></time>
	<br>
	<br>
	
	<div>
	<p><%= entry.content %> </div>

	<br>
	<% end %>

<% end %>

<br>
<br>

    

    



