<div class="modal fade in">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">

        <form action="/signup" method="POST">
	<%= form_for @user do |f| %>

	<%= f.label :screen_name %>
	<%= f.text_field :screen_name %>
	
	<%= f.label :password %>
	<%= f.text_field :password %>
	
	<% f.hidden_field :authenticity_token, value: form_authenticity_token() %> 
	<%= f.submit 'Sign Up' %>

<% end %>


<button>Sign Up</button>
</form>
	</div>        
		<div class="modal-footer">        
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>
</div>
