<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile page</title>
</head>
<body>
	
	<!-- user name -->
	<h1> <%= @user.first_name %> <%= @user.last_name %>  </h1>
	<!-- photos -->
	<%= image_tag @user.avatar.url(:medium) %> 
	<!-- headline -->

	
	<!-- course taken -->
	<p><%= @user.course %></p>
	<!-- social media links -->
	<% if @user.linked_in %>
	<br>
	<a href='@user.linked_in'><%= @user.linked_in  %></a>
	<br>
	<% end  %>
	<% if @user.twitter %>
	<a href='@user.twitter'><%= @user.twitter  %></a>
	<br>
	<% end  %>
	<% if @user.facebook %>
	<a href='@user.facebook'><%= @user.facebook  %></a>
	<br>
	<% end  %>
	<!-- projects/git -->
	<% if @user.github %>
	<a href='@user.github'><%= @user.github  %></a>
	<br>
	<% end  %>

</body>
</html>